assistments09
assistments09/*
assistments17
assistments17/*
statics
statics/*
initial_data/assistments09
initial_data/assistments09/*
initial_data/assistments17
initial_data/assistments17/*
initial_data/statics
initial_data/statics/*
*.txt
*.jsonl
*.json
*.csv